.inactiveLink {
   pointer-events: none;
   cursor: default;
}
/* Footer */
.footer {
    width: 99%;
    margin: 0 auto;
    text-align: center;
}
body {
    width: 95%;
    margin: 0 auto;
}
#navbar-1 {
    border-right: 3px solid #dcedea;
}
.panel-bg {
    background-image: url(top2.png);
}
#handsome {
    width:25%; /* you can use % */
    height: auto;
    float:right;
    margin: 0 0 10px 52px;
}
.handsomework{
    width: 376px;
    height: 214px;
}
#about-jumbo{
    position:relative;
    width: 100%;
    height: 100%
    margin: 0 auto;
    background-color: #d0fefe
}
.centereighty{
    width: 80%;
    margin: 0 auto;
}
/*
.about-content{
    text-align:justify;
}
*/
.workdescleft{
    padding-left:132px;
}
.workimgseal{
   text-align:center;
/*    padding-right:0px;*/
    padding-top:28px;
}
.workimgconrad{
    text-align:center;
/*    padding-right:0px;*/
    padding-top:28px;;
}
#conradhead{
    text-align:right;
}
.workdescright{
    padding-right:132px;
}
.imgcolumn {
    padding-top:0px;
    padding-bottom:0px;
}
hr {
    border: 1px solid black;
}
p.clear {
    clear: both;
}

